<section class="section background">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Candidate of Physical Oceanography @ the 
      <a class="underline-link" href="https://www.uu.nl/en/research/institute-for-marine-and-atmospheric-research-imau" target="_blank">Institute of Marine and Atmospheric Research</a>
      (<a class="underline-link" href="https://www.uu.nl/en" target="_blank">Utrecht University</a>). I graduated in Physics from 
      <a class="underline-link" href="https://www.imperial.ac.uk/physics/" target="_blank">Imperial College London</a>, and got interested in the field of geophysical fluid dynamics
      after spending a year abroad at UU, where I had the opportunity to take courses from the Climate Physics master's. 
    </p>

    <p>
       My PhD is about .... I am interested in ....
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
