<section class="section background">
  <div class="section__title">Background</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Candidate of Physical Oceanography @ the 
      <a class="underline-link" href="https://www.uu.nl/en/research/institute-for-marine-and-atmospheric-research-imau" target="_blank">Institute of Marine and Atmospheric Research</a>
      (<a class="underline-link" href="https://www.uu.nl/en" target="_blank">Utrecht University</a>).
    </p>

    <p>
      I graduated in Physics from 
      <a class="underline-link" href="https://www.imperial.ac.uk/physics/" target="_blank">Imperial College London</a>, where I specialised in fluid dynamics.
    </p>

    <p>
      <strong>When I'm not in front of a computer screen</strong>, I'm probably snowboarding, cruising around on my penny board,
      or crossing off another item on my bucket list.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
