<section class="section background">
  <div class="section__title">About me</div>
  <div class="section__content">
    <p>
      I'm currently a PhD Candidate of Physical Oceanography @ the 
      <a class="underline-link" href="https://www.uu.nl/en/research/institute-for-marine-and-atmospheric-research-imau" target="_blank">Institute of Marine and Atmospheric Research</a>
      (<a class="underline-link" href="https://www.uu.nl/en" target="_blank">Utrecht University</a>). I graduated in Physics from 
      <a class="underline-link" href="https://www.imperial.ac.uk/physics/" target="_blank">Imperial College London</a> with a *First Class Honours*.  
      I got interested in the field of Geophysical Fluid Dynamics after spending a year abroad at UU in 2023, I had the opportunity to take courses from the Climate Physics master's program like Dynamical Meteorology, Dynamical Oceanography, Atmospheric Composition & Chemical Processes & GFD.
      Back at Imperial in 2024, I dived deeper into the scope of the field by taking additional courses in Hydrodynamics, Space & Plasma Physics, Atmospheric Physics, and Vortex Dynamics.
    </p>

    <p>
       My research explores the transport and dispersal of macroplastics in the North Sea. I am interested in using Lagrangian modelling tools, such as <a class="underline-link" href="https://docs.oceanparcels.org/en/latest/index.html" target="_blank">Parcels</a>, and machine learning techniques
      to trace the trajectories of buoyant plastics at the ocean surface and analyse the impact of different forcing mechanisms on their motion and accumulation patterns.
    </p>

    <!-- {% include employment-status.html %} -->
  </div>
</section>
