<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">
    <div class="Using surface drifters to characterise near-surface ocean dynamics in the southern North Sea: a data-driven approach">
      <figure class="project__pic">
        <a href="https://egusphere.copernicus.org/preprints/2025/egusphere-2025-3287/" target="_blank">
          <img src="{{site.baseurl}}/img/featured/blistabloc/blistabloc.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://egusphere.copernicus.org/preprints/2025/egusphere-2025-3287/" target="_blank">Preprint</a>
        </div>
        <p>short abstract</p>
      </figcaption>
    </div>
</section>
